<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlackSpot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPStation</display-name>
    <servlet-name>AddPStation</servlet-name>
    <servlet-class>com.admin.AddPStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPStation</servlet-name>
    <url-pattern>/AddPStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePStation</display-name>
    <servlet-name>DeletePStation</servlet-name>
    <servlet-class>com.admin.DeletePStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePStation</servlet-name>
    <url-pattern>/DeletePStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.admin.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBSpot</display-name>
    <servlet-name>AddBSpot</servlet-name>
    <servlet-class>AddBSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBSpot</servlet-name>
    <url-pattern>/AddBSpot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBSpot</display-name>
    <servlet-name>DeleteBSpot</servlet-name>
    <servlet-class>com.admin.DeleteBSpot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBSpot</servlet-name>
    <url-pattern>/DeleteBSpot</url-pattern>
  </servlet-mapping>
</web-app>